<h1>Pictures</h1>
<%= link_to "Add a Picture", "/pictures/new" %>

<% @pictures.each do |picture| %>
	<p><%= picture[:title] %>, <%= picture[:artist] %></p>
	<img src="<%= picture[:url] %>">
<% end %>